@model IEnumerable<CategoryDto>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    bool isAdministratorLoggedIn = HttpContextAccessor.HttpContext.User.IsInRole("Administrator");
}

@if (Model.Any())
{
<ul class="categories">
    @foreach (var item in Model.ToArray())
    {
        if (item.IsVisible)
        {
    <li x-controller="category" x-selected-li-class="side-nav-selection" x-slug-to-match="@item.Slug">
        <a asp-controller="category" asp-action="category" asp-route-slug="@item.Slug">@item.Title</a>
    </li>
        }
        else
        {
            if (isAdministratorLoggedIn)
            {
                <li x-controller="category" x-selected-li-class="side-nav-selection" x-slug-to-match="@item.Slug">
                    <a class="hidden-title" asp-controller="category" asp-action="category" asp-route-slug="@item.Slug">@item.Title</a>
                </li>
            }
        }
    }
</ul>
}
