@{
    ViewData["Title"] = "List";
    ViewData["OptionalTitle"] = "List of notes";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Filter</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="searchTerm">Title</label>
                    <input type="text" id="searchTerm" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="searchCategories">Categories</label>
                    @(Html.Kendo().MultiSelect()
                          .Name("searchCategories")
                          .DataTextField("Title")
                          .DataValueField("Id")
                          .AutoClose(false)
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetCategories", "Notes");
                              }).ServerFiltering(false);
                          }))
                </div>
                <div class="form-group">
                    <label for="searchTags">Tags</label>
                    @(Html.Kendo().MultiSelect()
                          .Name("searchTags")
                          .DataTextField("Title")
                          .DataValueField("Id")
                          .AutoClose(false)
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetTags", "Notes");
                              }).ServerFiltering(false);
                          }))
                </div>
            </div>
            <div class="box-footer clearfix">
                <button id="filter-button" class="btn btn-primary">Filter</button>
                <button id="reset-button" class="btn btn-default">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listing</h3>
                <div class="input-group box-tools">
                    <a href="@Url.Action("New", "Notes")" class="btn btn-block btn-default btn-flat"><i class="fa fa-plus-square" style="padding-right: 5px;"></i>Add new</a>
                </div>
            </div>
            <div class="box-body">
                <div class="form-inline">
                    @*<div class="row">
                        <div class="col-sm-4" style="width: 25%">
                            <div class="dataTables_length">
                                <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                                    <option value="10">All dates</option>
                                    <option value="10">2018 - September</option>
                                </select>
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            @(Html.Kendo().Grid<NoteDto>()
                                  .Name("grid")
                                  .Editable(conf => conf.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))
                                  .Columns(columns =>
                                  {
                                      columns.Bound(c => c.Id).Visible(false);
                                      columns.Bound(c => c.Title);
                                      columns.Template("#=Id#");
                                      columns.Command(c =>
                                      {
                                          c.Custom("custom-delete").Text("Delete").Click("treeListItem_OnDelete").IconClass("k-icon k-i-close");
                                      }).Width(110);
                                      columns.Bound(c => c.Id).Title(" ").Width(100).ClientTemplate("<a href='/admin/notes/edit/#:Id#' role='button' class='k-button k-button-icontext k-grid-Edit'><span class='k-icon k-i-edit'></span>Edit</a>");
                                  })
                                  .Sortable(false)
                                  .Pageable()
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Events(e => e.Error("display_grid_errors"))
                                      .PageSize(25)
                                      .Read(read => read.Action("Notes_Read", "Notes").Data("getSearchParameters"))
                                      .Destroy(destroy => destroy.Action("Grid_Delete", "Notes"))
                                      .Model(conf => conf.Id(t => t.Id))
                                  ))

                        </div>
                    </div>

                </div>
            </div>
            <!-- #region KENDO DELETE BUTTON -->
            @(Html.Kendo().Window().Name("ConfirmationWindow")
                              .Title("Delete Confirmation")
                              .Visible(false)
                              .Modal(true)
                              .Draggable(true)
                              .Width(300)
            )

            <script type="text/x-kendo-template" id="template">
                <div id="details-container">
                    <em>Are you sure you want to delete <em><strong>#=Title#</strong></em>?</em>

                    <br /><br />
                    <button id="yesButton" class="btn btn-default btn-sm">yes</button>
                    <button id="noButton" class="btn btn-default btn-sm">no</button>
                </div>
            </script>
            <script type="text/javascript">
                var detailsTemplate = kendo.template($("#template").html());
                function treeListItem_OnDelete(e) {
                    e.preventDefault();

                    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                    var wnd = $("#ConfirmationWindow").data("kendoWindow");

                    wnd.content(detailsTemplate(dataItem));
                    wnd.center().open();

                    var grid = this;
                    var row = $(e.currentTarget).closest("tr");
                    $("#yesButton").click(function () {
                        grid.removeRow(row);
                        wnd.close();
                    });

                    $("#noButton").click(function () {
                        wnd.close();
                    });
                }
            </script>
            <style type="text/css">
                #details-container {
                    padding: 10px;
                }

                #details-container em {
                    color: #8c8c8c;
                }

                #yesButton {
                    background-color: #4d90fe;
                    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
                    background-image: linear-gradient(top,#4d90fe,#4787ed);
                    border: 1px solid #3079ed;
                    color: #fff;
                    width: 33px;
                }

                #noButton {
                    width: 33px;
                }
            </style>
            <!-- #endregion -->
        </div>
    </div>
</div>

@section PageLevelScriptsBottom
{
    <script>        
        $(document).ready(function () {
            var grid = $('#grid').data('kendoGrid');
            var searchCategories = $("#searchCategories").data('kendoMultiSelect');
            var searchTags = $("#searchTags").data('kendoMultiSelect');

            $("#filter-button").on("click",
                function() {
                    grid.dataSource.page(1);
                });

            $("#reset-button").on("click",
                function() {
                    $("#searchTerm").val("");
                    searchCategories.value(""); // clearing the selections
                    searchTags.value(""); // clearing ..

                    grid.dataSource.page(1);
                });
        });

        function getSearchParameters() {
            return {
                searchTerm: $("#searchTerm").val(),
                selectedCategories: $("#searchCategories").data('kendoMultiSelect').value(),
                selectedTags: $("#searchTags").data('kendoMultiSelect').value()
            };
        }
    </script>
}